@font-face {
    font-family: "PTSans";
    src: url("font/PTSans-Regular.ttf");
}

@font-face {
    font-family: "PTSansBI";
    src: url("font/PTSans-BoldItalic.ttf");
}

* {
    font-family: "PTSans";
}

.title2 {
    font-size: 25px;
    font-weight: bold;
    text-decoration: underline;
}

.product-qty {
    width: 105px;
    height: 45px;
    padding: 10px;
}

.qty-buttons {
    top: 0;
    right: 0;
    height: 100%;
    width: 30px;
    border: solid 1px rgb(72, 71, 71);
}

.qty-inc,
.qty-dec {
    width: 100%;
    height: 50%;
    justify-content: flex-end;
    cursor: pointer;
}

.qty-inc {
    border-top-right-radius: 5px;
}

.qty-dec {
    border-bottom-right-radius: 5px;
}

.emptyImg {
    height: 200px;
    background-image: url('resource/search.svg');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
